* {
    margin: 0;
}

main {
    max-width: 90rem;
}

body {
    background: #77f2a2; 
}

nav {
    background: #74df74;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

h1 {
    font-size: 5rem;
    color: #00a878;
    text-align: center;
    text-shadow: 2px 2px #099268;
    font-family: 'Lucida Grande' sans-serif 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif
}

ul {
    text-align: center;
    padding-right: 45px;
    padding-top: 15px;
}

h2 {
    color: #099268;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
}


h4 {
    color: #00a878;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 1rem;
    font-style: italic;
    font-size: 1rem;
}

h3 {
    color: #098;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    color: rgb(0, 58, 10);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

button {
    background: #74df74;
    color: green;
    border: 2px solid green;
    padding: 20px 50px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    font-size: 6mm; 
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 12px;
} 

button:hover {
  background-color: #4cc250; 
}


.imgLeft {
    margin-left: 100px;
    margin-right: 340px;
}

img{
    border-radius: 30px;  
}

a:link {
    text-decoration: none;
}

a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2f9e44;
    text-decoration: underline !important;
}

.buttonRow ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.nextButtonOne {
    background: #b2f2bb;
    border: solid #099268;
    border-radius: 12px;
    transition-duration: 0.4s;
    cursor: pointer; 
    padding: 5px 50px;
    margin-right: 5px;
}

.nextButtonOne:hover {
    background-color: #9acea1; 
}

.nextButtonTwo {
    background: #b2f2bb;
    border: solid #099268;
    border-radius: 12px;
    transition-duration: 0.4s;
    cursor: pointer; 
    padding: 5px 50px;
    margin-right: 5px;
}

.nextButtonTwo:hover {
    background-color: #9acea1; 
}

.nextText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #099268;
    font-size: medium;
    font-weight: 900;
}

.backButtonOne {
    background: #b2f2bb;
    border: solid #099268;
    border-radius: 12px;
    transition-duration: 0.4s;
    cursor: pointer; 
    padding: 5px 50px;
    margin-left: 5px;
}

.backText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #099268;
    font-size: medium;
    font-weight: 900;
}

.backButtonOne:hover {
    background-color: #9acea1; 
}


.questionName {
    font-size: 3rem;
    padding-bottom: 1rem;
    color: #00a878;
    text-align: center;
    text-shadow: 2px 2px #099268;
    font-family: 'Lucida Grande' sans-serif 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif
}

.questionText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #2f9e44;
    font-size: medium;
    font-weight: bold;
}

.questionButton {
    background: #74df74;
    border: 2px solid green;
    border-radius: 12px;
    transition-duration: 0.4s;
    cursor: pointer; 
    margin-bottom: 16px;
}

.questionLayout {
    display: flex;
    flex-direction: column;
    gap: 16px;           
    max-width: 500px;   
    margin: 0 auto; 
}
